<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <script type="text/javascript">
        window.NREUM || (NREUM = {});
        NREUM.info = {
            "beacon": "bam.nr-data.net",
            "errorBeacon": "bam.nr-data.net",
            "licenseKey": "1255494d3a",
            "applicationID": "15702971",
            "transactionName": "e1daR0JWVV9RER9fWlVdG1peXVxL",
            "queueTime": 0,
            "applicationTime": 9,
            "agent": ""
        }
    </script>
    <script type="text/javascript">
        window.NREUM || (NREUM = {}), __nr_require = function (e, t, n) {
            function r(n) {
                if (!t[n]) {
                    var o = t[n] = {
                        exports: {}
                    };
                    e[n][0].call(o.exports, function (t) {
                        var o = e[n][1][t];
                        return r(o || t)
                    }, o, o.exports)
                }
                return t[n].exports
            }

            if ("function" == typeof __nr_require) return __nr_require;
            for (var o = 0; o < n.length; o++) r(n[o]);
            return r
        }({
            1: [function (e, t, n) {
                function r() {
                }

                function o(e, t, n) {
                    return function () {
                        return i(e, [(new Date).getTime()].concat(u(arguments)), t ? null : this, n), t ? void 0 : this
                    }
                }

                var i = e("handle"),
                    a = e(2),
                    u = e(3),
                    c = e("ee").get("tracer"),
                    f = NREUM;
                "undefined" == typeof window.newrelic && (newrelic = f);
                var s = ["setPageViewName", "setCustomAttribute", "setErrorHandler", "finished", "addToTrace", "inlineHit", "addRelease"],
                    l = "api-",
                    p = l + "ixn-";
                a(s, function (e, t) {
                    f[t] = o(l + t, !0, "api")
                }), f.addPageAction = o(l + "addPageAction", !0), f.setCurrentRouteName = o(l + "routeName", !0), t.exports = newrelic, f.interaction = function () {
                    return (new r).get()
                };
                var d = r.prototype = {
                    createTracer: function (e, t) {
                        var n = {},
                            r = this,
                            o = "function" == typeof t;
                        return i(p + "tracer", [Date.now(), e, n], r),
                            function () {
                                if (c.emit((o ? "" : "no-") + "fn-start", [Date.now(), r, o], n), o) try {
                                    return t.apply(this, arguments)
                                } finally {
                                    c.emit("fn-end", [Date.now()], n)
                                }
                            }
                    }
                };
                a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","), function (e, t) {
                    d[t] = o(p + t)
                }), newrelic.noticeError = function (e) {
                    "string" == typeof e && (e = new Error(e)), i("err", [e, (new Date).getTime()])
                }
            }, {}],
            2: [function (e, t, n) {
                function r(e, t) {
                    var n = [],
                        r = "",
                        i = 0;
                    for (r in e) o.call(e, r) && (n[i] = t(r, e[r]), i += 1);
                    return n
                }

                var o = Object.prototype.hasOwnProperty;
                t.exports = r
            }, {}],
            3: [function (e, t, n) {
                function r(e, t, n) {
                    t || (t = 0), "undefined" == typeof n && (n = e ? e.length : 0);
                    for (var r = -1, o = n - t || 0, i = Array(o < 0 ? 0 : o); ++r < o;) i[r] = e[t + r];
                    return i
                }

                t.exports = r
            }, {}],
            ee: [function (e, t, n) {
                function r() {
                }

                function o(e) {
                    function t(e) {
                        return e && e instanceof r ? e : e ? c(e, u, i) : i()
                    }

                    function n(n, r, o) {
                        if (!p.aborted) {
                            e && e(n, r, o);
                            for (var i = t(o), a = v(n), u = a.length, c = 0; c < u; c++) a[c].apply(i, r);
                            var f = s[w[n]];
                            return f && f.push([y, n, r, i]), i
                        }
                    }

                    function d(e, t) {
                        b[e] = v(e).concat(t)
                    }

                    function v(e) {
                        return b[e] || []
                    }

                    function g(e) {
                        return l[e] = l[e] || o(n)
                    }

                    function m(e, t) {
                        f(e, function (e, n) {
                            t = t || "feature", w[n] = t, t in s || (s[t] = [])
                        })
                    }

                    var b = {},
                        w = {},
                        y = {
                            on: d,
                            emit: n,
                            get: g,
                            listeners: v,
                            context: t,
                            buffer: m,
                            abort: a,
                            aborted: !1
                        };
                    return y
                }

                function i() {
                    return new r
                }

                function a() {
                    (s.api || s.feature) && (p.aborted = !0, s = p.backlog = {})
                }

                var u = "nr@context",
                    c = e("gos"),
                    f = e(2),
                    s = {},
                    l = {},
                    p = t.exports = o();
                p.backlog = s
            }, {}],
            gos: [function (e, t, n) {
                function r(e, t, n) {
                    if (o.call(e, t)) return e[t];
                    var r = n();
                    if (Object.defineProperty && Object.keys) try {
                        return Object.defineProperty(e, t, {
                            value: r,
                            writable: !0,
                            enumerable: !1
                        }), r
                    } catch (i) {
                    }
                    return e[t] = r, r
                }

                var o = Object.prototype.hasOwnProperty;
                t.exports = r
            }, {}],
            handle: [function (e, t, n) {
                function r(e, t, n, r) {
                    o.buffer([e], r), o.emit(e, t, n)
                }

                var o = e("ee").get("handle");
                t.exports = r, r.ee = o
            }, {}],
            id: [function (e, t, n) {
                function r(e) {
                    var t = typeof e;
                    return !e || "object" !== t && "function" !== t ? -1 : e === window ? 0 : a(e, i, function () {
                        return o++
                    })
                }

                var o = 1,
                    i = "nr@id",
                    a = e("gos");
                t.exports = r
            }, {}],
            loader: [function (e, t, n) {
                function r() {
                    if (!h++) {
                        var e = y.info = NREUM.info,
                            t = l.getElementsByTagName("script")[0];
                        if (setTimeout(f.abort, 3e4), !(e && e.licenseKey && e.applicationID && t)) return f.abort();
                        c(b, function (t, n) {
                            e[t] || (e[t] = n)
                        }), u("mark", ["onload", a()], null, "api");
                        var n = l.createElement("script");
                        n.src = "https://" + e.agent, t.parentNode.insertBefore(n, t)
                    }
                }

                function o() {
                    "complete" === l.readyState && i()
                }

                function i() {
                    u("mark", ["domContent", a()], null, "api")
                }

                function a() {
                    return (new Date).getTime()
                }

                var u = e("handle"),
                    c = e(2),
                    f = e("ee"),
                    s = window,
                    l = s.document,
                    p = "addEventListener",
                    d = "attachEvent",
                    v = s.XMLHttpRequest,
                    g = v && v.prototype;
                NREUM.o = {
                    ST: setTimeout,
                    CT: clearTimeout,
                    XHR: v,
                    REQ: s.Request,
                    EV: s.Event,
                    PR: s.Promise,
                    MO: s.MutationObserver
                }, e(1);
                var m = "" + location,
                    b = {
                        beacon: "bam.nr-data.net",
                        errorBeacon: "bam.nr-data.net",
                        agent: "js-agent.newrelic.com/nr-1016.min.js"
                    },
                    w = v && g && g[p] && !/CriOS/.test(navigator.userAgent),
                    y = t.exports = {
                        offset: a(),
                        origin: m,
                        features: {},
                        xhrWrappable: w
                    };
                l[p] ? (l[p]("DOMContentLoaded", i, !1), s[p]("load", r, !1)) : (l[d]("onreadystatechange", o), s[d]("onload", r)), u("mark", ["firstbyte", a()], null, "api");
                var h = 0
            }, {}]
        }, {}, ["loader"]);
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta property="wb:webmaster" content="294ec9de89e7fadb"/>
    <meta property="qc:admins" content="104102651453316562112116375"/>
    <meta property="qc:admins" content="11635613706305617"/>
    <meta property="qc:admins" content="1163561616621163056375"/>
    <meta name="google-site-verification" content="cV4-qkUJZR6gmFeajx_UyPe47GW9vY6cnCrYtCHYNh4"/>
    <meta name="google-site-verification" content="HF7lfF8YEGs1qtCE-kPml8Z469e2RHhGajy6JPVy5XI"/>
    <meta http-equiv="mobile-agent" content="format=html5; url=http://www.jianshu.com/">

    <title>首页 - 简书</title>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token"
          content="pq5kjo1mCvj9vzfjzcH5X77B8dJSQTit2k8X5gUl537oL88f0YrofcCeI+2exK02pKXVR5OiP35mdjIudatg0g=="/>
    <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" media="all" href="{{ static_url('css/web-ea.css') }}"/>

    <link rel="stylesheet" media="all" href="{{ static_url('css/entry-ea.css') }}"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if IE 8]><link rel="stylesheet" media="all" href="http://cdn-qn0.jianshu.io/assets/scaffolding/for_ie-7f1c477ffedc13c11315103e8787dc6c.css" />
    <![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" media="all" href="http://cdn-qn0.jianshu.io/assets/scaffolding/for_ie-7f1c477ffedc13c11315103e8787dc6c.css" />
    <![endif]-->
    <link href="http://baijii-common.b0.upaiyun.com/icons/favicon.ico" rel="icon">
    <link rel="apple-touch-icon-precomposed" href="http://cdn-qn0.jianshu.io/apple-touch-icons/57.png" sizes="57x57"/>
    <link rel="apple-touch-icon-precomposed" href="http://cdn-qn0.jianshu.io/apple-touch-icons/72.png" sizes="72x72"/>
    <link rel="apple-touch-icon-precomposed" href="http://cdn-qn0.jianshu.io/apple-touch-icons/76.png" sizes="76x76"/>
    <link rel="apple-touch-icon-precomposed" href="http://cdn-qn0.jianshu.io/apple-touch-icons/114.png"
          sizes="114x114"/>
    <link rel="apple-touch-icon-precomposed" href="http://cdn-qn0.jianshu.io/apple-touch-icons/120.png"
          sizes="120x120"/>
    <link rel="apple-touch-icon-precomposed" href="http://cdn-qn0.jianshu.io/apple-touch-icons/152.png"
          sizes="152x152"/>
</head>

<body lang="zh-CN" class="reader-black-font">
<!-- 全局顶部导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="width-limit">
        <!-- 左上方 Logo -->
        <a class="logo" href="/"><img
                src="http://cdn-qn0.jianshu.io/assets/web/logo-58fd04f6f0de908401aa561cda6a0688.png" alt="Logo"/></a>

        <!-- 右上角 -->
        <!-- 未登录显示登录/注册/写文章 -->
        <!--       <a class="btn write-btn" target="_blank" href="/writer#/">
    <i class="iconfont ic-write"></i>写文章
    </a>     -->
        <a class="btn sign-up" href="/sign_up">注册</a>
        <a class="btn log-in" href="/sign_in">登录</a>

        <!-- 如果用户登录，显示下拉菜单 -->

        <div id="view-mode-ctrl">
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">
                            <span class="menu-text">首页</span><i class="iconfont ic-navigation-discover menu-icon"></i>
                        </a>
                    </li>
                    <!--      <li class="">
          <a class="app-download-btn" href="/apps"><span class="menu-text">下载App</span><i class="iconfont ic-navigation-download menu-icon"></i></a>
        </li> -->
                    <li class="search">
                        <form target="_blank" action="/search" accept-charset="UTF-8" method="get"><input name="utf8"
                                                                                                          type="hidden"
                                                                                                          value="&#x2713;"/>
                            <input type="text" name="q" id="q" value="" placeholder="搜索" class="search-input"/>
                            <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
                            <!-- <div id="navbar-trending-search"></div> -->
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="container index">
    <div class="row">
        <div class="col-xs-16 main">
            <!-- Banner -->
            <div id="indexCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#indexCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="3" class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="4" class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="5" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="http://www.jianshu.com/p/70ca8a68e139"><img
                                src="http://upload.jianshu.io/admin_banners/web_images/2722/5c66048b39090e1ca0fdf6e000c33e6e4eecc554.png"
                                alt="5c66048b39090e1ca0fdf6e000c33e6e4eecc554"/></a>
                    </div>
                    <div class="item ">
                        <a href="http://www.jianshu.com/p/9348cbf32aad"><img
                                src="http://upload.jianshu.io/admin_banners/web_images/2295/dcc46ceef44b1df38b934c68043e43b1dd7d6f4d.jpg"
                                alt="Dcc46ceef44b1df38b934c68043e43b1dd7d6f4d"/></a>
                    </div>
                    <div class="item ">
                        <a href="http://www.jianshu.com/collection/e048f1a72e3d"><img
                                src="http://upload.jianshu.io/admin_banners/web_images/2474/259a36ccbca577c3064c68ab3c0f1834d77456d7.png"
                                alt="259a36ccbca577c3064c68ab3c0f1834d77456d7"/></a>
                    </div>
                    <div class="item ">
                        <a href="http://www.jianshu.com/p/d211a8ccca19"><img
                                src="http://upload.jianshu.io/admin_banners/web_images/2731/0b9b660a9b403483387061a30e95bb2badf78acc.png"
                                alt="0b9b660a9b403483387061a30e95bb2badf78acc"/></a>
                    </div>
                    <div class="item ">
                        <a href="http://www.jianshu.com/p/75de2e28bef8"><img
                                src="http://upload.jianshu.io/admin_banners/web_images/2730/085009f9580ba948c17bba6d8863ee73fa5749db.jpg"
                                alt="085009f9580ba948c17bba6d8863ee73fa5749db"/></a>
                    </div>
                    <div class="item ">
                        <a href="http://www.jianshu.com/p/c292a8c7d6bf"><img
                                src="http://upload.jianshu.io/admin_banners/web_images/2643/e090be3009b8b35856ffc51af4135d54660df354.jpg"
                                alt="E090be3009b8b35856ffc51af4135d54660df354"/></a>
                    </div>
                </div>
                <a class="left carousel-control" href="#indexCarousel" role="button" data-slide="prev"><i
                        class="iconfont ic-previous-s"></i></a>
                <a class="right carousel-control" href="#indexCarousel" role="button" data-slide="next"><i
                        class="iconfont ic-next-s"></i></a>
            </div>
            <!-- Banner -->
            <div class="recommend-collection">
                <div class="top-line">
                    <div class="row">
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/c/RfYyQj">
                            <img src="http://upload.jianshu.io/collections/images/12/1239240801.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/195/h/195"
                                 alt="195"/>
                            <div class="name">散文</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/c/un8RTj">
                            <img src="http://upload.jianshu.io/collections/images/3/1.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/195/h/195"
                                 alt="195"/>
                            <div class="name">教育</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/c/71169ced18ac">
                            <img src="http://upload.jianshu.io/collections/images/288348/6608733_091515549000_2.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/195/h/195"
                                 alt="195"/>
                            <div class="name">大学生活</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/c/BATtWp">
                            <img src="http://upload.jianshu.io/collections/images/45/2007112012211889_2.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/195/h/195"
                                 alt="195"/>
                            <div class="name">艺术·文化</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/c/8c92f845cd4d">
                            <img src="http://upload.jianshu.io/collections/images/283250/%E6%BC%AB%E7%94%BB%E4%B8%93%E9%A2%98.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/195/h/195"
                                 alt="195"/>
                            <div class="name">漫画·手绘</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/c/7b2be866f564">
                            <img src="http://upload.jianshu.io/collections/images/83/1.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/195/h/195"
                                 alt="195"/>
                            <div class="name">摄影</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/c/1hjajt">
                            <img src="http://upload.jianshu.io/collections/images/21/20120316041115481.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/195/h/195"
                                 alt="195"/>
                            <div class="name">影视天堂</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3" target="_blank" href="/recommendations/collections">
                            <div class="more-hot-collection">更多热门专题 <i class="iconfont ic-link"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="list-container">
                <!-- 文章列表模块 -->
                <ul class="note-list" infinite-scroll-url="/">
                    {% for blog_list in blog_all %}
                    <li id="note-8696496" data-note-id="8696496" class="have-img">
                        <a class="wrap-img" href="/p/f4136651939e" target="_blank">
                            <img src="http://upload-images.jianshu.io/upload_images/1933412-b6c5625d03c7d157.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/375/h/300">
                        </a>
                        <div class="content">
                            <div class="author">
                                <a class="avatar" target="_blank" href="/u/fd0599061897">
                                    <img src="http://upload.jianshu.io/users/upload_avatars/1933412/9e4276d444a0.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96"
                                         alt="96"/>
                                </a>
                                <div class="name">
                                    <a class="blue-link" target="_blank" href="/u/fd0599061897">一笑很倾城</a>
                                    <span class="time" data-shared-at="2017-01-25T15:49:54+08:00"></span>
                                </div>
                            </div>
                            <a class="title" target="_blank" href="/p/?uid={{ blog_list['uuid'] }}">{{ blog_list['title'] }}</a>
                            <p class="abstract">
                                {{ blog_list['abstract'] }}
                            </p>
                            <div class="meta">
                                <a class="collection-tag" target="_blank" href="/c/20f7f4031550">{{ blog_list['tag'] }}</a>
                                <a target="_blank" href="/p/f4136651939e">
                                    <i class="iconfont ic-list-read"></i> 1471
                                </a>
                                <a target="_blank" href="/p/f4136651939e#comments">
                                    <i class="iconfont ic-list-comments"></i> 41
                                </a>
                                <a target="_blank" href="/p/f4136651939e">
                                    <i class="iconfont ic-list-like"></i> 85
                                </a>
                                <a target="_blank" href="/p/f4136651939e">
                                    <i class="iconfont ic-list-money"></i> 2
                                </a>
                            </div>
                        </div>
                    </li>

                    {% end %}



                </ul>
                <!-- 文章列表模块 -->
            </div>
        </div>
        <div class="col-xs-7 col-xs-offset-1 aside">
            <div class="board">
                <a target="_blank" href="/recommendations/notes?category_id=56">
                    <img src="http://cdn-qn0.jianshu.io/assets/web/banner-s-1-b8ff9ec59f72ea88ecc8c42956f41f78.png"
                         alt="Banner s 1"/>
                </a>
                <a target="_blank" href="/recommendations/notes?category_id=60">
                    <img src="http://cdn-qn0.jianshu.io/assets/web/banner-s-2-0ca33954547a07153f9cccd5eddbad42.png"
                         alt="Banner s 2"/>
                </a>
                <a target="_blank" href="/trending/weekly"><img
                        src="http://cdn-qn0.jianshu.io/assets/web/banner-s-3-7123fd94750759acf7eca05b871e9d17.png"
                        alt="Banner s 3"/></a>
                <a target="_blank" href="/trending/monthly"><img
                        src="http://cdn-qn0.jianshu.io/assets/web/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png"
                        alt="Banner s 4"/></a>
            </div>
            <div class="download">
                <a href="/apps"><img id="js-download-img"
                                     src="http://cdn-qn0.jianshu.io/assets/web/app_download-e9146ff3a117129153d283495b51f40e.png"
                                     alt="App download"/></a>
                <div class="link-btn" id="js-link-btn">
                    <a class="col-xs-8 scan" data-toggle="popover" data-placement="top" data-html="true"
                       data-trigger="hover"
                       data-content="&lt;img src=&quot;http://cdn-qn0.jianshu.io/assets/web/download-app-qrcode-0257cd2c1d094cba9caa7bdc9e5a1393.png&quot; alt=&quot;Download app qrcode&quot; /&gt;"
                       href="javascript:void(0)">
                        <div><i class="iconfont ic-qrcode"></i><span>扫码</span></div>
                    </a>
                    <a class="col-xs-8 android" href="https://downloads.jianshu.io/apps/haruki/JianShu-2.1.0.apk">
                        <div><i class="iconfont ic-android"></i><span>安卓</span></div>
                    </a>
                    <a class="col-xs-8 ios"
                       href="https://itunes.apple.com/cn/app/jian-shu-hei-ye-ban-quan-xin/id1142989247?l=en&amp;mt=8">
                        <div><i class="iconfont ic-ios"></i><span>iOS</span></div>
                    </a>
                </div>
            </div>
            <div class="js-recommended-authors"></div>
        </div>
    </div>
</div>
<div class="side-tool">
    <ul>
        <li class="back-top hide"><a href="#"><i class="iconfont ic-backtop"></i></a></li>
    </ul>
</div>
<footer class="container">
    <div class="row">
        <div class="col-xs-17 main">


            <a href="#">关于作者</a><em> · </em><a
                href="#">联系我们</a><em> · </em><a
                href="http://www.jianshu.com/collection/fc488cd78374">作者成书计划</a><em> · </em><a
                href="http://www.jianshu.com/notebooks/547/latest">帮助中心</a><em> · </em><a
                href="http://www.jianshu.com/p/cabc8fa39830">合作伙伴</a>
            <div class="icp">
                ©2016-2017 Coding <a target="_blank"
                                                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602000064">沪公网安备31010602000064号</a>

            </div>
        </div>
    </div>
</footer>

<script type="application/json" data-name="page-data">
    {
        "user_signed_in": false,
        "locale": "zh-CN",
        "os": "windows",
        "read_mode": "day",
        "read_font": "font2"
    }
</script>

<script src="http://cdn-qn0.jianshu.io/assets/babel-polyfill-ea257f8d9192770509b0.js"></script>
<script src="{{ static_url('js/web-base.js') }}"></script>

<script src="{{ static_url('js/web.js') }}"></script>
<script src="{{ static_url('js/page.js') }}"></script>
{#<script>#}
{#    (function (i, s, o, g, r, a, m) {#}
{#        i['GoogleAnalyticsObject'] = r;#}
{#        i[r] = i[r] || function () {#}
{#                (i[r].q = i[r].q || []).push(arguments)#}
{#            }, i[r].l = 1 * new Date();#}
{#        a = s.createElement(o),#}
{#            m = s.getElementsByTagName(o)[0];#}
{#        a.async = 1;#}
{#        a.src = g;#}
{#        m.parentNode.insertBefore(a, m)#}
{#    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');#}
{##}
{#    ga('create', 'UA-35169517-1', 'auto');#}
{#    ga('send', 'pageview');#}
{#</script>#}


</body>

</html>
