<li id="note-8675346" data-note-id="8675346" class="have-img">
    <a class="wrap-img" href="/p/df39955cbdc3" target="_blank">
      <img src="http://upload-images.jianshu.io/upload_images/2822380-23831e7def7b4756.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/375/h/300">
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/2f17ac8b64ca">
        <img src="http://upload.jianshu.io/users/upload_avatars/2822380/d431e2a7c9d7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96" />
</a>      <div class="name">
        <a class="blue-link" target="_blank" href="/u/2f17ac8b64ca">仨十一</a>
        <span class="time" data-shared-at="2017-01-24T15:52:08+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/df39955cbdc3">成为优秀的人，一定要懂得穿衣打扮</a>
    <p class="abstract">
      01 昨晚看了《我是歌手》，阵容强大，非常精彩。 略有遗憾的事，我喜欢的歌手得了靠后的名次，而冠亚季军都是技巧性非常丰富的歌者。 乐坛老歌手，自然比年轻歌手懂得唱歌技巧与感情...
    </p>
    <div class="meta">
        <a class="collection-tag" target="_blank" href="/c/RfYyQj">散文</a>
      <a target="_blank" href="/p/df39955cbdc3">
        <i class="iconfont ic-list-read"></i> 599
</a>      <a target="_blank" href="/p/df39955cbdc3#comments">
        <i class="iconfont ic-list-comments"></i> 1
</a>      <a target="_blank" href="/p/df39955cbdc3">
        <i class="iconfont ic-list-like"></i> 24
</a>          </div>
  </div>
</li>