 {% if count > 1 %}
        <tfoot>
        <tr>
            <th colspan="5">
                <div class="ui right floated pagination menu">
                    <a class="icon item"
                       href="/admin/blog/get_Article/?page={% if page > 1 %}{{ page-1 }}{% else %}1{% end %}">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="icon item" href="/admin/blog/get_Article/?page=
                            {% if page < count %}{{ page + 1 }}{% else %}{{ count }}{% end %}">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
                <p>当前第 <span class="text-danger">{{ page }}</span> 页，共 <span class="text-info">{{ count }}</span> 页</p>
            </th>
        </tr>
        </tfoot>
        {% end %}